@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%); 
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}

* {
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--Light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card {
    background-color: var(--white);
    max-width: 300px;
    min-width: 200px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 25px 25px 0 #00000055;
}
  
.img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Dark-blue);
    margin-top: 15px;
    max-width: 270px;
}
  
.description {
    color: var(--Grayish-blue);
    margin-top: 10px;
    font-weight: 400;
    padding-bottom: 2rem;
    max-width: 270px;
}